﻿@using System.Globalization
@using BuildFeed.Code.Options
@using BuildFeed.Controllers
@model HandleErrorInfo
@{
   bool isRtl = CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;
   Layout = null;
}
<!DOCTYPE html>
<html dir="@(isRtl
                ? "rtl"
                : "ltr")" lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="format-detection" content="telephone=no" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>@VariantTerms.Common_Error | @InvariantTerms.SiteName</title>
   <link href="/res/css/default.css" rel="stylesheet" type="text/css" />
   <link href="@(VirtualPathUtility.ToAbsolute(Theme.AvailableThemes[0].CssPath))" rel="stylesheet" type="text/css" />
   @if (isRtl)
   {
      <link href="/res/css/rtl.css" rel="stylesheet" type="text/css" />
   }
   <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&amp;subset=cyrillic,greek,vietnamese" rel="stylesheet" type="text/css" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
   <link rel="manifest" href="~/manifest.json">
   <link rel="shortcut icon" href="~/favicon.ico" />
   <link rel="icon" href="~/favicon.ico" />
   <meta name="theme-color" content="#373736">
   <meta name="application-name" content="@InvariantTerms.SiteName" />
   <meta name="twitter:site" content="@("@")buildfeed">
</head>
<body>
   <script>
      (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
         m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-55417692-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
   </script>
   <header id="page-header">
      <div class="container">
         <h1>
            @Html.ActionLink(InvariantTerms.SiteName, nameof(FrontController.Index), new
            {
               controller = "Front",
               area = ""
            })
         </h1>
      </div>
   </header>
   <nav id="page-navigation" role="navigation">
      <div class="container">
         <button id="page-navigation-toggle">
            <i class="fa fa-bars"></i>&ensp;@VariantTerms.Common_ToggleNavigation
         </button>
         <ul id="page-navigation-links">
            <li>
                <a href="https://blog.buildfeed.net/" title="@VariantTerms.Common_Blog" target="_blank" rel="noopener">
                    <i class="fa fa-fw fa-book"></i> @VariantTerms.Common_Blog
                </a>
            </li>
            <li>
               <a href="https://twitter.com/buildfeed" title="@VariantTerms.Common_Twitter" target="_blank" rel="noopener">
                  <i class="fa fa-fw fa-twitter"></i> @VariantTerms.Common_Twitter
               </a>
            </li>
         </ul>
      </div>
   </nav>
   <article id="page-content">
      <div class="container">
         <h1>@VariantTerms.Common_Error</h1>
         <p>
            @Html.Raw(string.Format(VariantTerms.Common_ErrorContent, "<a href=\"https://gitlab.com/buildfeed/BuildFeed/issues\">GitLab</a>"))
         </p>
         <p>
            Controller: <code>@Model.ControllerName</code>
         </p>
         <p>
            Action: <code>@Model.ActionName</code>
         </p>
         <p>
            Error: <code>@Model.Exception.Message</code>
         </p>
      </div>
   </article>
   <footer id="page-footer">
      <div class="container">
         <div class="footer-flex">
            <div class="footer-flex-item">
               <p>
                  <i class="fa fa-language"></i>&ensp;
                  @CultureInfo.CurrentUICulture.NativeName
               </p>
            </div>
            <div class="footer-flex-item">
               <p>
                  &copy; 2013 - @DateTime.Now.Year.ToString(), <span dir="ltr">@InvariantTerms.SiteName</span>
               </p>
               <p>
                  @Html.Raw(string.Format(VariantTerms.Common_DevelopedBy, $"<a href=\"https://twitter.com/buildfeed\" target=\"_blank\" dir=\"ltr\" rel=\"noopener\">{InvariantTerms.DeveloperName}</a>"))
               </p>
               <p>
                  @Html.Raw(string.Format(VariantTerms.Common_ContributeOn, "<a href=\"https://gitlab.com/buildfeed/BuildFeed\" target=\"_blank\" dir=\"ltr\" rel=\"noopener\"><i class=\"fa fa-gitlab\"></i>&ensp;GitLab</a>"))
               </p>
            </div>
         </div>
      </div>
   </footer>
</body>
</html>