﻿@using System.Globalization
@{
    ViewBag.Title = $"{VariantTerms.Common_Credits} | {InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Common_Credits</h1>

<dl class="credits-list">
    <dt>BuildFeed Team</dt>
    <dd>
        Thomas Hounsell&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/tomhounsell">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Nick (ultrawindows)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/nickurtnl">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Ahmed (airportsfan)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/airportsfan">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Lukas (tfwboredom)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/tfwboredom">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Soorya (fakirmeditation)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/fakirmeditation">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Chris (Chris123NT)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/Chris123NT">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
</dl>
<div class="credits-wrapper">
<dl class="credits-list">
    <dt>Arabic (@CultureInfo.GetCultureInfo("ar").NativeName) Translation</dt>
    <dd>
        Ahmed (airportsfan)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/airportsfan">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Bengali (@CultureInfo.GetCultureInfo("bn").NativeName) Translation</dt>
    <dd>
        Mehedi Hassan&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/mehedih_">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Czech (@CultureInfo.GetCultureInfo("cs").NativeName) Translation</dt>
    <dd>
        David (rezedus)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/rezedus">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>German (@CultureInfo.GetCultureInfo("de").NativeName) Translation</dt>
    <dd>
        The Dhel&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/The_Dhel">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Christopher&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/evil_pro_">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Greek (@CultureInfo.GetCultureInfo("el").NativeName) Translation</dt>
    <dd>Hacker?pcs</dd>
    <dd>
        Sotiris Michail&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/SnakeOnStick">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Spanish (@CultureInfo.GetCultureInfo("es").NativeName) Translation</dt>
    <dd>Nightsteed</dd>
    <dd>
        Ben Ward&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/_BenW_">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Meober Whagby&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/ultimofriki">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Farsi (@CultureInfo.GetCultureInfo("fa").NativeName) Translation</dt>
    <dd>
        Niloo&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/Niloo0937">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Finnish (@CultureInfo.GetCultureInfo("fi").NativeName) Translation</dt>
    <dd>
        Daniel Gurney (wheatley)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/Daniel_Gurney0">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>French (@CultureInfo.GetCultureInfo("fr").NativeName) Translation</dt>
    <dd>
        CgSYannick&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/YannickTHFR">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Gustave M.&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/gus33000">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Christophe Lavalle&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/ChristopheLav">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Croatian (@CultureInfo.GetCultureInfo("hr").NativeName) Translation</dt>
    <dd>
        Mario Bešen&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/mariobesen">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Hebrew (@CultureInfo.GetCultureInfo("he").NativeName) Translation</dt>
    <dd>
        David Fainshtein&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/david_f">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Indonesian (@CultureInfo.GetCultureInfo("id").NativeName) Translation</dt>
    <dd>Andreas</dd>
    <dt>Italian (@CultureInfo.GetCultureInfo("it").NativeName) Translation</dt>
    <dd>
        Meober Whagby&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/ultimofriki">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Simone Nataz&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/djnataz">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Japanese (@CultureInfo.GetCultureInfo("ja").NativeName) Translation</dt>
    <dd>
        parly&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://github.com/parly">
            <i class="fa fa-github"></i>
        </a>
    </dd>
    <dt>Korean (@CultureInfo.GetCultureInfo("ko").NativeName) Translation</dt>
    <dd>qta3426</dd>
    <dd>
        SD SkyKlouD&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/_SDSkyKlouD">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
</dl>
<dl class="credits-list">
    <dt>Lithuanian (@CultureInfo.GetCultureInfo("lt").NativeName) Translation</dt>
    <dd>
        Super User&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/Superb_User">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Dutch (@CultureInfo.GetCultureInfo("nl").NativeName) Translation</dt>
    <dd>
        Nick (ultrawindows)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/nickurtnl">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Polish (@CultureInfo.GetCultureInfo("pl").NativeName) Translation</dt>
    <dd>
        piotrulos&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/piotrulos">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        dzaggiel&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/dzaggiel">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Portuguese (@CultureInfo.GetCultureInfo("pt").NativeName) Translation</dt>
    <dd>OBattler</dd>
    <dt>Portugese - Brazilian (@CultureInfo.GetCultureInfo("pt-br").NativeName) Translation</dt>
    <dd>RichardG</dd>
    @*<dt>Pseudo-localisation (@System.Globalization.CultureInfo.GetCultureInfo("qps-ploc").NativeName) Translation</dt>
      <dd>Thomas Hounsell, with&ensp;<a target="_blank" rel="nofollow noopener" href="http://www.pseudolocalize.com/"><i class="fa fa-globe"></i> Pseudolocalize!</a></dd>*@
    <dt>Romanian (@CultureInfo.GetCultureInfo("ro").NativeName) Translation</dt>
    <dd>
        ovctvct&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://www.youtube.com/channel/UC9AC01rKiwDhVPvAsT93rjw">
            <i class="fa fa-youtube"></i>
        </a>
    </dd>
    <dt>Russian (@CultureInfo.GetCultureInfo("ru").NativeName) Translation</dt>
    <dd>
        Roman (rlinev)&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/rlinev">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>
        Fuhrer_Adolf&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/Fuhrer_Adolf">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Slovak (@CultureInfo.GetCultureInfo("sk").NativeName) Translation</dt>
    <dd>
        Lukas&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/tfwboredom">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Slovenian (@CultureInfo.GetCultureInfo("sl").NativeName) Translation</dt>
    <dd>Overdoze</dd>
    <dt>Swedish (@CultureInfo.GetCultureInfo("sv").NativeName) Translation</dt>
    <dd>
        mrpijey&ensp;
        <a target="_blank" rel="nofollow noopener" href="http://www.mrpijey.net/">
            <i class="fa fa-globe"></i>
        </a>
    </dd>
    <dt>Turkish (@CultureInfo.GetCultureInfo("tr").NativeName) Translation</dt>
    <dd>
        Furkan AKÇATEPE&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/FurkanAKATEPE">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dd>Can Taşan</dd>
    <dd>
        Duhan Ömür&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/BilgisyrKurdu16">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Ukrainian (@CultureInfo.GetCultureInfo("uk").NativeName) Translation</dt>
    <dd>
        Fuhrer_Adolf&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/Fuhrer_Adolf">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Vietnamese (@CultureInfo.GetCultureInfo("vi").NativeName) Translation</dt>
    <dd>
        Trần Kim Long Hải&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/trankimlonghai">
            <i class="fa fa-twitter"></i>
        </a>
    </dd>
    <dt>Chinese - Simplified (@CultureInfo.GetCultureInfo("zh-hans").NativeName) Translation</dt>
    <dd>
        Zheng He&ensp;
        <a target="_blank" rel="nofollow noopener" href="http://www.betaworld.cn/">
            <i class="fa fa-globe"></i>
        </a>
    </dd>
    <dt>Chinese - Traditional (@CultureInfo.GetCultureInfo("zh-hant").NativeName) Translation</dt>
    <dd>
        Andrew Huang&ensp;
        <a target="_blank" rel="nofollow noopener" href="https://twitter.com/AndrewDev8383">
            <i class="fa fa-twitter"></i>
        </a>&ensp;
        <a target="_blank" rel="nofollow noopener" href="http://isite.tw/">
            <i class="fa fa-globe"></i>
        </a>
    </dd>
    <dd>
        GT Wang&ensp;
        <a target="_blank" rel="nofollow noopener" href="http://mkvq.blogspot.com/">
            <i class="fa fa-globe"></i>
        </a>
    </dd>
</dl>
</div>